.custom-dialog {
  .el-dialog__header,
  .el-dialog__footer {
    background-color: var(--color-light-grey);
    margin: 0;
    padding: 12px 24px;
  }

  .el-dialog__title {
    font-weight: 700;
    font-family: var(--secondary-font);
  }

  .el-form-item {
    display: block;
  }

  .el-form-item__label {
    font-weight: 600;
  }
}

.el-tabs__content {
  margin-right: 0;
  width: 100%;
}

.el-tabs__new-tab {
  margin-right: 10px;
}

.icon-link {
  cursor: pointer;
  transition: 0.3s all ease;

  &:hover {
    color: var(--color-txt-interactive);
  }
}
