:root {
  --color-light-grey: #f9f9f9;
  --color-medium-grey: #b6b5b5;
  --color-txt-interactive: #38598b;
  --color-error: #f95959;

  // typography
  --primary-font: 'Inter', 'Helvetica Neue', sans-serif;
  --secondary-font: 'Montserrat', sans-serif;
}
